{% if nb_errors > 0 %}
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $('#change_mission').modal();
    });
</script>
{% endif %}

{% set missionOrder = consultant.currentMissionOrder %}
<div id="change_mission" class="black-box modal fade hide">
    <div class="modal-header tab-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <span>{{ 'consultant.change_mission.header'|trans }}</span>
    </div>
    <form action="{{ path('UserBundle_consultant_change_mission', consultant.routing) }}" method="POST" class="form" {{ form_enctype(form) }}>
        {% form_theme form '::fields.html.twig' %}

        <div class="modal-body separator">
            <h5>{{ 'consultant.change_mission.current_mission_hook'|trans }}</h5>

            <div class="dtable mission-display">
                <div class="dtable-cell logo">
                    {% if missionOrder.mission.client.image is not empty %}
                        <img src="{{ asset(missionOrder.mission.client.image) }}">
                    {% else %}
                        <img src="http://placehold.it/50x50">
                    {% endif %}
                </div>

                <h4 class="dtable-cell">
                    {{ missionOrder.mission.client.title }}<br>
                    <small>{{ missionOrder.mission.label }}</small>
                </h4>
            </div>

            <div class="row-fluid">
                <div class="span6">
                    <span class="begin">{{ 'consultant.change_mission.begin_date'|trans }}</span>
                    {{ missionOrder.beginDate('date_format.ymd'|trans) }}
                    {% if missionOrder.duration.invert != 1 %}
                        -
                        {{ 'dateinterval_format.year'|transchoice(missionOrder.duration.y, { '%year%':missionOrder.duration.y }) }}
                        {{ 'dateinterval_format.month'|transchoice(missionOrder.duration.m, { '%month%':missionOrder.duration.m }) }}
                        {% if missionOrder.duration.y == 0 and missionOrder.duration.m == 0 %}
                            {{ 'dateinterval_format.day'|transchoice(missionOrder.duration.d, { '%day%':missionOrder.duration.d }) }}
                        {% endif %}
                    {% endif %}
                </div>
                <div class="span6">
                    {{ form_row(form.end_date) }}
                </div>
            </div>
        </div>
        <div class="modal-body separator">
            <h5>{{ 'consultant.change_mission.next_mission_hook'|trans }}</h5>

            <div class="control-group" id="{{ form.next_intercontract.vars.id }}">
                <div id="ic-toggler" class="controls">
                    {{ form_widget(form.next_intercontract) }}
                </div>
            </div>
            <div class="or">
                {{ 'consultant.change_mission.next_mission_or'|trans }}
            </div>
            <div id="select-mission" class="row-fluid">
                <div class="span6">
                    <div id="select-mission">
                        <div class="control-group{% if form.next_mission_id.vars.errors|length > 0 %} error{% endif %}" id="{{ form.next_mission_id.vars.id }}">
                            {{ form_label(form.next_mission_id) }}
                            <div class="controls" data-mission-select="1">
                                {{ form_widget(form.next_mission_id) }}
                                {% if is_granted('ROLE_MISSION_WRITE', app.user) %}
                                    <a class="btn" href="#new_mission" role="button" data-toggle="modal">{{ 'consultant.admin.form.add_mission'|trans }}</a>
                                {% endif %}
                                {{ form_errors(form.next_mission_id) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    {{ form_row(form.next_begin_date) }}
                </div>
            </div>
            {{ form_rest(form) }}
        </div>
        <div class="modal-footer">
            <div class="inner-well">
                <button type="submit" class="button mini rounded">{{ 'consultant.change_mission.submit'|trans }}</button>
                <a class="button mini rounded light-gray" data-dismiss="modal">{{ 'modal_close'|trans }}</a>
            </div>
        </div>
    </form>
</div>
{% if is_granted('ROLE_MISSION_WRITE', app.user) %}
    {{ render(controller('ExtiaMissionBundle:AdminMission:modal')) }}
{% endif %}
