{% extends 'ExtiaUserBundle::admin_consultant_layout.html.twig' %}

{% block body_class %}user-admin{% endblock %}

{% block current_breadcrumb %}
    <li class="active"><a href="#">{{ 'consultant.breadcrumbs.list'|trans }}</a></li>
{% endblock %}

{% block main %}
    <div class="row-fluid">
        <div class="span12">
            <div class="box">
                <div class="tab-header">
                    <i class="icon-th-list"></i>
                    {{ 'consultant.admin.list.header'|trans }}
                </div>
                <table class="table table-striped">
                    <thead>
                        <th colspan="2">{{ 'consultant.admin.list.th_user'|trans }}</th>
                        <th>{{ 'consultant.admin.list.th_email'|trans }}</th>
                        <th>{{ 'consultant.admin.list.th_contacts'|trans }}</th>
                        <th>{{ 'consultant.admin.list.th_actions'|trans }}</th>
                    </thead>
                    <tbody>
                    {% for consultant in consultants %}
                        <tr class="{% if loop.index0 % 2 == 0 %}odd{% else %}even{% endif %}">
                            <td class="image"><img src="{{ gravatar(consultant.email, 50) }}"></td>
                            <td class="name">
                                <a href="{{ path('UserBundle_consultant_timeline', consultant.routing) }}">{{ consultant.longname }}</a>
                            </td>
                            <td>{{ consultant.email }}</td>
                            <td>
                                {% if consultant.telephone %}<i class="icon-phone"></i> {{ consultant.telephone }}{% endif %}
                                {% if consultant.mobile %}<br /><i class="icon-mobile-phone"></i> {{ consultant.mobile }}{% endif %}
                            </td>
                            <td class="actions">
                                <div class="btn-group">
                                    <a class="button" href="{{ path('UserBundle_consultant_timeline', consultant.routing) }}">
                                        <i class="icon-search"></i>
                                    </a>
                                    {% if is_granted('ROLE_USER_WRITE', user) %}
                                        <a class="button" href="{{ path('UserBundle_consultant_edit', consultant.routing) }}">
                                            <i class="icon-pencil"></i>
                                        </a>
                                        <a class="button" href="{{ path('UserBundle_consultant_delete', { 'id': consultant.id }) }}">
                                            <i class="icon-remove"></i>
                                        </a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <td colspan="4">&nbsp;</td>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
<div class="row-fluid">
    <div class="span12">
        <div class="big-button-bar">
        {% if is_granted('ROLE_USER_WRITE', user) %}
            <a href="{{ path('UserBundle_consultant_new') }}" class="button large">
                <i class="icon-plus"></i>
                <span>{{ 'consultant.admin.sidebar.button_new_consultant'|trans }}</span>
            </a>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}
