{% extends 'ExtiaUserBundle:AdminInternal:layout.html.twig' %}

{% block current_breadcrumb %}
    <li class="active"><a href="#">{{ 'internal.breadcrumbs.list'|trans }}</a></li>
{% endblock %}

{% block main %}
    <div class="row-fluid">
        <div class="span12">
            <div class="box">
                <div class="tab-header">
                    <i class="icon-th-list"></i>
                    {{ 'internal.admin.list.header'|trans }}
                </div>
                <table class="table table-striped">
                    <thead>
                        <th colspan="2">
                            <div class="wrap">{{ 'internal.admin.list.th_name'|trans }}</div>
                            {% include 'ExtiaUserBundle::sorts.html.twig' with { 'field': 'name', 'active': sort } only %}
                        </th>
                        <th>
                            <div class="wrap">{{ 'internal.admin.list.th_internal_type'|trans }}</div>
                            {% include 'ExtiaUserBundle::sorts.html.twig' with { 'field': 'job', 'active': sort } only %}
                        </th>
                        <th>
                            <div class="wrap">{{ 'internal.admin.list.th_nb_clt'|trans }}</div>
                            {% include 'ExtiaUserBundle::sorts.html.twig' with { 'field': 'nb_clt', 'active': sort } only %}
                        </th>
                        <th>
                            <div class="wrap">{{ 'internal.admin.list.th_nb_ic'|trans }}</div>
                            {% include 'ExtiaUserBundle::sorts.html.twig' with { 'field': 'nb_ic', 'active': sort } only %}
                        </th>
                        <th>
                            <div class="wrap">{{ 'internal.admin.list.th_past_tasks'|trans }}</div>
                            {% include 'ExtiaUserBundle::sorts.html.twig' with { 'field': 'nb_past_tasks', 'active': sort } only %}
                        </th>
                        <th>{{ 'internal.admin.list.th_actions'|trans }}</th>
                    </thead>
                    <tbody>
                    {% for internal in internals %}
                        <tr class="{% if loop.index0 % 2 == 0 %}odd{% else %}even{% endif %}">
                            <td class="image">
                                {% if internal.image is not empty %}
                                    <img style="width: 50px; height: 50px;" src="{{ asset(internal.image) }}">
                                {% else %}
                                    <img src="{{ gravatar(internal.email, 50) }}">
                                {% endif %}
                            </td>
                            <td class="name">
                                <a href="{{ path('UserBundle_internal_timeline', internal.routing) }}">{{ internal.longname }}</a><br/>
                                {{ internal.job }}
                            </td>
                            <td>{{ ('person_type.' ~ internal.personType.code) | trans }}</td>
                            <td>{{ internal.countConsultants }}</td>
                            <td>{{ internal.nbIc }}</td>
                            <td>
                                {{ internal.getNbPastTasks() }} /
                                {{ internal.countActiveTasks() }}
                            </td>
                            <td class="actions">
                                <div class="btn-group">
                                    <a class="button" href="{{ path('UserBundle_internal_timeline', internal.routing) }}">
                                        <i class="icon-tasks"></i>
                                    </a>
                                    {% if is_granted('ROLE_INTERNAL_WRITE', user) %}
                                        <a class="button" href="{{ path('UserBundle_internal_edit', internal.routing) }}">
                                            <i class="icon-pencil"></i>
                                        </a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <td colspan="8">
                            {{ knp_pagination_render(internals) }}
                        </td>
                    </tfoot>
                </table>
                <div class="navigation">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
<div class="row-fluid">
    <div class="span12">
        <div class="big-button-bar">
        {% if is_granted('ROLE_INTERNAL_WRITE', user) %}
            <a href="{{ path('UserBundle_internal_new') }}" class="button large">
                <i class="icon-plus"></i>
                <span>{{ 'internal.admin.sidebar.button_new'|trans }}</span>
            </a>
        {% endif %}
        </div>
    </div>
</div>
<div class="row-fluid admin-filters">
    <div class="span12">
        <div class="box">
            <div class="tab-header">
                <i class="icon-search"></i>
                {{ 'internal.admin.filters.header'|trans }}
            </div>
            <div class="padded">
                <form class="form form-horizontal" method="POST" {{ form_enctype(form) }}>
                    {% form_theme form 'MopaBootstrapBundle:Form:fields.html.twig' %}

                    {{ form_row(form.display) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.internal_type) }}
                    {{ form_row(form.agency) }}
                    {{ form_row(form.parent) }}

                    <div class="unmarged control-group" id="{{ form.with_ic.vars.id }}">
                        <div class="controls">{{ form_widget(form.with_ic) }}</div>
                    </div>

                    {{ form_rest(form) }}

                    <div class="control-group">
                        <div class=" controls">
                            <input class="button" type="submit" value="{{ 'admin.filters.form.submit'|trans }}" />
                            <input class="button" name="reset_filters" type="submit" value="{{ 'admin.filters.form.reset'|trans }}" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
