<li class="separator padded task">
    {% if task.userTargetId %}
    <div class="pull-right" style="margin-top:8px;">
        <img src="{{ gravatar(task.userTarget.email, 30) }}">
        <span>{{ task.userTarget.longName }}</span>
    </div>
    {% endif %}

    <h4>
        <small>{{ task.activationDate|date('d/m/Y') }}</small><br />
        {{ task.node.workflow.title|capitalize }} - {{ task.node.name|trans }}<br />
        <small>{{ task.node.workflow.type|trans }} {{ 'by'|trans }} {{ task.userCreatedWorkflow.longName }}</small>
    </h4>

    <div class="btn-group">
        <a class="button"><i class="icon-comments-alt"></i> {{ 'history_link'|trans }}</a>
        <a href="#task_{{ task.id }}" class="button" role="button" data-toggle="modal"><i class="icon-ok"></i> {{ 'handle_link'|trans }}</a>
        <a class="button"><i class="icon-refresh"></i> {{ 'differ_link'|trans }}</a>
        <a class="button"><i class="icon-remove"></i> {{ 'close_link'|trans }}</a>
    </div>
</li>
