<html>
    <head>
        <title>Rhea >> Authentification</title>
    </head>
    <body>
        <div>
            <legend>Rhea >> {{ 'login_box_title'|trans }} </legend>

            {% if error %}
            <div class="alert alert-error">
                <a class="close" data-dismiss="alert" href="#">×</a>{{ error.message }}
            </div>
            {% endif %}

            <form method="POST" action="{{ path('easy_task_login_check') }}" accept-charset="UTF-8">
                <input type="text" id="_username" class="span4" name="_username" placeholder="{{ 'username_label'|trans }}">
                <input type="password" id="_password" class="span4" name="_password" placeholder="{{ 'password_label'|trans }}">
                <label class="checkbox">
                    <input type="checkbox" name="remember" value="1"> {{ 'remember_me_label'|trans }}
                </label>
                <br>
                <button type="submit" name="submit" class="btn btn-primary btn-block">{{ 'login_button'|trans }}</button>
            </form>
        </div>
    </body>
</html>
