<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- Always force latest IE rendering engine or request Chrome Frame -->
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

        <title>{% block title %}Rhea{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('stylesheets/application.css') }}" media="screen" rel="stylesheet" type="text/css" />
            <link href="{{ asset('stylesheets/font-awesome.css') }}" media="screen" rel="stylesheet" type="text/css" />
            <link href="{{ asset('stylesheets/main.css') }}" media="screen" rel="stylesheet" type="text/css" />

            <!--[if lt IE 9]>
            <link href="{{ asset('stylesheets/iefix.css') }}" media="screen" rel="stylesheet" type="text/css" />
            <![endif]-->

            <link href="{{ asset('stylesheets/prettify.css') }}" media="screen" rel="stylesheet" type="text/css" />
        {% endblock %}

        {% block javascripts %}
            <!--[if lt IE 9]>
            <script src="{{ asset('javascripts/html5shiv.js') }}" type="text/javascript"></script>
            <script src="{{ asset('javascripts/excanvas.js') }}" type="text/javascript"></script>
            <script src="{{ asset('javascripts/iefix.js') }}" type="text/javascript"></script>
            <![endif]-->
            <script src="{{ asset('javascripts/application.js') }}" type="text/javascript"></script>
            <script src="{{ asset('javascripts/prettify.js') }}" type="text/javascript"></script>
            <script type="text/javascript">
                prettyPrint()
            </script>

            <script src="{{ asset('bundles/extiacomment/js/comments.js') }}"type="text/javascript"></script>

            <script type="text/javascript">
                jQuery(document).ready(function($) {
                    // loader ajax
                    $('#ajaxWaiter').css('height', $(document).height());
                    $('#ajaxWaiterConteneur').css({
                        top: ($('#ajaxWaiter').innerHeight()-100)/2,
                        left: ($('#ajaxWaiter').innerWidth()-150)/2
                    });
                    $('#ajaxWaiter').each(function(index, elt){
                        $(elt).ajaxStart(function() {
                            $('#ajaxWaiter, #ajaxWaiterConteneur').show();
                        });

                        $(elt).ajaxStop(function() {
                            $('#ajaxWaiter, #ajaxWaiterConteneur').hide();
                        });
                    });

                    //pane togglers
                    $('a[data-toggle-target]').on('click', function(e) {
                        e.preventDefault();
                        $('#' + $(this).data('toggle-target')).slideToggle();
                    });
                });
            </script>
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">
    </head>
    {% block body %}
    <body class="{% block body_class %}{% endblock %}">
        {% block modal %}{% endblock %}

        {# Top bar #}
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <a href="{{ path('Rhea_homepage') }}" class="brand">Rhea</a>
                </div>
            </div>
        </div>

        {# Left menu bar #}
        <div class="menu-bar pull-left">
            {% block profile_nav %}
            <div class="nav-profile dtable">
                <div class="dtable-cell">
                    <p class="avatar"><img src="{{ gravatar(app.user.email, 50) }}"></p>
                </div>
                <div class="dtable-cell">
                    <div class="user-actions btn-group pull-right">
                        <button data-toggle="dropdown" class="button mini inset black dropdown-toggle"><i class="icon-cog"></i></button>
                        <ul class="dropdown-menu black-box-dropdown">
                            <li><a href="{{ path('UserBundle_logout') }}"><i class="icon-off"></i>{{ 'logout_link'|trans }}</a></li>
                        </ul>
                    </div>
                    <p class="title">{{ app.user.longName }}</p>
                    <p class="job">{{ app.user.job.label|capitalize }}</p>
                </div>
            </div>
            {% endblock %}

            <div class="navs">
                {% block main_nav %}
                <nav class="main-nav">
                    {{ knp_menu_render('main_menu') }}
                </nav>
                {% endblock %}
                {% block sub_nav %}{% endblock %}
            </div>
        </div>

        {# Main content #}
        <section id="main">
            <div class="top-nav">
            {% block top_nav %}
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="span12">
                        {% block breadcrumbs %}{% endblock %}
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12 search-button-bar-container">
                            {% block search_bar %}
                            <form><input type="text" placeholder="Search..." class="search"></form>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            {% endblock %}
            </div>
            <div class="container-fluid">
            {% block content %}
                {% block content_top %}{% endblock content_top %}
                <div class="row-fluid">
                    <div class="span7">
                        {% block main %}{% endblock main %}
                    </div>
                    <div class="span5 sidebar">
                        {% block sidebar %}{% endblock sidebar %}
                    </div>
                </div>
            {% endblock content %}
            </div>
            {% block footer %}
            <div class="row-fluid">
                <div class="span12">
                    <div class="footer">2013 &copy; Extia</div>
                </div>
            </div>
            {% endblock %}
        </section>

        {% block notifications %}
            {{ render(controller('ExtiaNotificationBundle:Notification:display')) }}
        {% endblock %}

        {% block ajaxWaiter %}
            <div id="ajaxWaiter" style="display:none;"></div>
            <div id="ajaxWaiterConteneur" style="display:none;">
                <img src="{{ asset('images/ajax-loader.gif') }} " alt=""><br />
                {{ 'ajax_loading'|trans }}...
            </div>
        {% endblock %}

    </body>
    {% endblock %}
</html>
