{% if task.node.current is empty %}
    {% set refDate = task.node.completedAt %}
{% else %}
    {% set refDate = task.activationDate %}
{% endif %}

<div class="box task_details">
    <div class="tab-header">
        <i class="icon-tasks"></i>
        {{ refDate|date('date_format.md'|trans) }} -
        {{ task.node.name|trans }}
    </div>
    <div class="padded">
        <p class="default">
            {{ 'task_managed_by'|trans }} {{ task.userAssigned.longName }}

            {% if task.node.current is empty %}
                {{ 'task_managed_at'|trans }}
                {{ task.node.completedAt('date_format.ymd'|trans) }}
            {% endif %}

            {{ 'task_managed_for'|trans }}
            {{ task.userTarget.longName }}
        </p>
        <div class="btn-group">
            <a class="button" data-toggle-target="comments-{{ task.id }}" href="#">
                <i class="icon-comments-alt"></i> {{ 'comments_link'|trans }}
                {% if task.comments|length %}({{ task.comments.count }}){% endif %}
            </a>
            {% if task.node.current is not empty %}
            <a href="#task_{{ task.id }}" class="button" role="button" data-toggle="modal">
                <i class="icon-ok"></i> {{ 'handle_link'|trans }}
            </a>
            {% endif %}
        </div>
        <div id="comments-{{ task.id }}" class="comments">
            {% include 'ExtiaCommentBundle:Comment:list_by_task.html.twig' %}
        </div>
    </div>
</div>
