{% if task.node.current is empty %}
    {% set refDate = task.node.completedAt %}
{% else %}
    {% set refDate = task.activationDate %}
{% endif %}

<div class="box task_details">
    <div class="tab-header">
        <i class="icon-tasks"></i>
        {{ refDate|date('date_format.md'|trans) }} -
        {{ task.node.workflow.name }} -
        {{ task.node.name|trans }}
    </div>
    <div class="box-body">
        <div class="clearfix">
            <div class="pull-right status">
                {% include 'ExtiaTaskBundle:Task:task_status.html.twig' with { 'task': task } only %} <br />
                {% include 'ExtiaTaskBundle:Task:task_user_assigned.html.twig' with { 'task': task } only %}
            </div>

            {{  render(controller(task.node.type.action('timeline'), {
                    'taskId': task.id,
                    'params': { 'user_target' : user_target|default(false) }
                }))
            }}
        </div>

        <div class="btn-group">
            <a class="button" data-toggle-target="comments-{{ task.id }}" href="#">
                <i class="icon-comments-alt"></i> {{ 'comments_link'|trans }}
                {% if task.comments|length %}({{ task.comments.count }}){% endif %}
            </a>
            {% if task.isCompleted != true %}
            <a href="#task_{{ task.id }}" class="button" role="button" data-toggle="modal">
                <i class="icon-ok"></i> {{ 'handle_link'|trans }}
            </a>
            {% endif %}
            <a href="{{ path('TaskBundle_workflow_history', { 'workflow_id': task.node.workflow.id }) }}" class="button">
                <i class="icon-list"></i> {{ 'history_link'|trans }}
            </a>
        </div>
        <div id="comments-{{ task.id }}" class="comments">
            {% include 'ExtiaCommentBundle:Comment:list_by_task.html.twig' %}
        </div>
    </div>
</div>
