<div id="document-upload-notifications" style="display:none;">
    <div class="success">{{ 'document.upload.notification.success'|notification('success') }}</div>
    <div class="error-invalid_form">{{ 'document.upload.notification.invalid_form'|notification('warning') }}</div>
    <div class="error-413">{{ 'document.upload.notification.error_too_large'|notification('warning') }}</div>
    <div class="error-415">{{ 'document.upload.notification.error_unsupported'|notification('warning') }}</div>
    <div class="error-500">{{ 'document.upload.notification.error'|notification('error') }}</div>
</div>
