{% extends 'ExtiaTaskBundle:Workflow:timeline_element.html.twig' %}

{% block task_title %}
    {{ 'mission_monitoring.meeting.timeline.hook'|trans }} - {{ task.data.get('meeting_date')|date('H:i') }}
{% endblock %}

{% block task_data %}
    <p>
        {{ 'mission_monitoring.meeting.timeline.meeting_at'|trans }}
        <span class="data">
            {{ task.data.get('meeting_date')|date('mission_monitoring.meeting.date_format'|trans ~ ' ' ~ 'mission_monitoring.meeting.time_format'|trans) }}
        </span>.
    </p>
    {% if task.isCompleted == true %}
        <p>{{ 'mission_monitoring.meeting.timeline.next_meeting'|trans }} <span class="data">{{ task.data.get('meeting_date')|date('date_format.ymd'|trans) }}</span>.</p>
        <p>{{ 'mission_monitoring.meeting.timeline.notified_at'|trans }} <span class="data">{{ task.data.get('notif_date')|date('date_format.ymd'|trans) }}</span>.</p>
    {% endif %}
{% endblock %}
