{% extends 'ExtiaUserBundle::team_layout.html.twig' %}

{% block inactive_breadcrumb %}
    <li><a href="{{ path('UserBundle_internal_list') }}"><i class="icon-group"></i> {{ 'menu.team'|trans }}</a></li>
    <li><a href="#">{{ internal.longname }}</a></li>
{% endblock %}
{% block current_breadcrumb %}
    <li class="active"><a href="#">{{ 'internal.breadcrumbs.dashboard'|trans }}</a></li>
{% endblock %}

{% block main %}

    <div class="row-fluid">
        <div class="span12">
            <div class="box user-details internal">
                <div class="tab-header">
                    <i class="icon-reorder"></i>
                    {{ 'internal.details.header'|trans }}
                    {% if internal.group is not empty %}{{ internal.group.label|capitalize }}{% endif %}
                </div>
                <div class="box-body">
                    <div class="int-header">
                        {% include 'ExtiaUserBundle:Badges:internal.html.twig' with { 'int': internal } only %}
                    </div>

                    <div class="row-fluid data">
                        <div class="span4 contacts">
                            <h5>{{ 'internal.details.contact'|trans }}</h5>
                            <ul>
                                <li><i class="icon-comment-alt"></i> {{ internal.email }}</li>
                                {% if internal.telephone %}<li><i class="icon-phone"></i> {{ internal.telephone }}</li>{% endif %}
                                {% if internal.mobile %}<li><i class="icon-mobile-phone"></i> {{ internal.mobile }}</li>{% endif %}
                            </ul>
                        </div>
                        <div class="span4 referer">
                            <h5>{{ 'internal.details.referer.header'|trans }}</h5>
                            <dl class="dl-horizontal">
                                <dt>{{ 'internal.details.referer.internal'|trans }}</dt>
                                <dd>{% include 'ExtiaUserBundle:Badges:internal_small.html.twig' with { 'int': internal.parent } only %}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="row-fluid">
                <div class="span12 task_timeline">
                    {{ render(controller('ExtiaTaskBundle:Dashboard:dashboardTimeline', { 'userId': internal.Id })) }}
                </div>
            </div>
        </div>
    </div>
{% endblock main %}

{% block sidebar %}
<div class="row-fluid">
    <div class="span12">
        <div class="big-button-bar">
            <a href="{#{{ path('UserBundle_consultant_edit', internal.routing) }} #}#" class="button large">
                <i class="icon-edit"></i>
                <span>{{ 'internal.actions.edit_user'|trans }}</span>
            </a>
            <a href="{{ path('UserBundle_internal_list') }}" class="button large">
                <i class="icon-reply"></i>
                <span>{{ 'internal.actions.back_list'|trans }}</span>
            </a>
        </div>
    </div>
    {% if is_granted('ROLE_CONSULTANT_READ', app.user) %}
        {% render(controller('ExtiaUserBundle:Internal:consultantsList', { 'internal': internal })) %}
    {% endif %}
    {% if is_granted('ROLE_MISSION_READ', app.user) %}
        {% render(controller('ExtiaUserBundle:Internal:missionsList', { 'internal': internal })) %}
    {% endif %}
</div>
{% endblock %}
