<div id="civility" class="tab-pane active">
    <div class="padded">
        <form id="group-form" class="fill-up" method="post" {{ form_enctype(form) }}>
            <p>
                {{ form_label(form.label, form.label.vars.id|replace({'_':'.'})) }}
                {{ form_errors(form.label) }}
                {{ form_widget(form.label) }}
            </p>
            <p>
                {{ form_label(form.manager, form.manager.vars.id|replace({'_':'.'})) }}
                {{ form_errors(form.manager) }}
                {{ form_widget(form.manager) }}
            </p>
            <p>
                {{ form_label(form.client, form.client.vars.id|replace({'_':'.'})) }}
                {{ form_errors(form.client) }}
                {{ form_widget(form.client) }}
            </p>
            <p>
                {{ form_label(form.type, form.type.vars.id|replace({'_':'.'})) }}
                {{ form_errors(form.type) }}
                {{ form_widget(form.type) }}
            </p>
            <p class="btn-group">
                <button type="submit" class="button">
                    <i class="icon-ok"></i> {{ 'form.submit'|trans }}
                </button>
                <button class="button" data-form-comment-close >
                    <i class="icon-remove"></i> {{ 'form.close'|trans }}
                </button>
            </p>
        </form>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/extiamission/css/token-input.css') }}" />

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ asset('bundles/extiamission/js/jquery.tokeninput.js') }}"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#mission_client").tokenInput("{{ path('extia_mission_company_ajax_list') }}");
    });
    $(document).ready(function () {
        $("#mission_manager").tokenInput("{{ path('extia_user_ajax_list') }}");
    });
</script>
