<div>
    <div class="action">
        <a href="#new_mission" data-toggle="modal" role="button" class="button large">
            <i class="icon-plus"></i>
            <span>{{ 'mission.admin.content.button_new'|trans }}</span>
        </a>
    </div>
    {% for mission in missions %}
        <div>
            <div><strong>{{ mission.mission.label }}</strong></div>
            <div><span>{{ 'mission.admin.content.manager'|trans }}</span> {{ mission.mission.manager.firstname ~ ' ' ~ mission.mission.manager.lastname }}</div>
            <div><span>{{ 'mission.admin.content.client'|trans }}</span> {{ mission.mission.client.title }}</div>
            <div>{{ 'mission.admin.content.begin_date'|trans }} {{ mission.beginDate|date("d-m-Y") }}</div>
            <div>{{ 'mission.admin.content.end_date'|trans }} {{ mission.endDate|date("d-m-Y") }}</div>
        </div>
    {% endfor %}
</div>
