{% extends 'ExtiaTaskBundle::task_layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $('#wf_edit_open').on('click', function(e) {
                e.preventDefault();
                $('#wf_show').hide();
                $('#wf_edit').show();
            });
            $('#wf_edit_close').on('click', function(e) {
                e.preventDefault();
                $('#wf_show').show();
                $('#wf_edit').hide();
            });
            $('#wf_submit').on('click', function(e) {
                e.preventDefault();
                $(this).parents('form').submit();
            });
        });
    </script>
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="{{ path('Rhea_homepage') }}"><i class="icon-list-ul"></i> {{ 'menu.dashboard'|trans }}</a></li>
        <li><a href="#">{{ workflow.type|trans }}</a></li>
        <li><a href="#">{{ workflow.name|capitalize }}</a></li>
        <li class="active"><a href="#">{{ 'workflow.breadcrumb.timeline'|trans }}</a></li>
    </ul>
{% endblock %}

{% block main %}
    {% set currentTask = tasks.first %}
    <div class="row-fluid">
        <div class="span12">
            <div class="box workflow_details">
                <div class="tab-header">
                    <i class="icon-reorder"></i>
                    {{ 'workflow.box_header.details'|trans }}
                </div>
                <div class="box-body" id="wf_show">
                    <div class="clearfix">
                        <div class="pull-left">
                            <h4>
                                {{ workflow.name|capitalize }}<br />
                                <small>{{ workflow.type|trans }}</small>
                            </h4>
                        </div>
                        <div class="pull-right status">
                            {% if currentTask.workflowStatus == 'closed' %}
                                <span class="badge badge-info">
                                    <i class="icon-off"></i> {{ 'workflow.status.closed'|trans }}
                                </span>
                            {% elseif currentTask.workflowStatus == 'retarded' %}
                                <span class="badge badge-important">
                                    <i class="icon-warning-sign"></i> {{ 'workflow.status.retarded'|trans }}
                                </span>
                            {% else %}
                                <span class="badge badge-success">
                                    <i class="icon-random"></i> {{ 'workflow.status.running'|trans }}
                                </span>
                            {% endif %}
                        </div>
                    </div>

                    <blockquote>
                        <i class="icon-quote-left"></i>
                        {{ workflow.description|capitalize }}
                        <i class="icon-quote-right"></i><br/>
                        <small class="create">
                            {{ 'workflow.details.created_at'|trans }}
                            <span class="data">{{ workflow.createdAt|date(('date_format.ymd'|trans)) }}</span>
                            {{ 'workflow.details.created_by'|trans }}
                            {% if currentTask.userCreatedWorkflow is not empty %}
                                <a class="user" href="#">{{ currentTask.userCreatedWorkflow.longname }}</a>.
                            {% endif %}
                        </small>
                    </blockquote>
                    <div class="btn-group">
                        <a class="button" id="wf_edit_open" href="#">
                            <i class="icon-pencil"></i> {{ 'workflow.details.edit_button'|trans }}
                        </a>
                        {#
                        {% if currentTask.workflowStatus == 'closed' %}
                        <a class="button" href="#"><i class="icon-refresh"></i> {{ 'workflow.details.reopen_button'|trans }}</a>
                        {% else %}
                        <a class="button" href="#"><i class="icon-ok"></i> {{ 'workflow.details.close_button'|trans }}</a>
                        {% endif %}
                        #}
                    </div>
                </div>
                <div class="box-body" id="wf_edit" style="display:none;">
                    <form method="POST" class="form-horizontal"
                        action="{{ path('WorkflowBundle_edit_workflow', { 'workflow_id': workflow.id, 'redirect_url': app.request.server.get('REQUEST_URI') }) }}">

                        {{ form_rest(form) }}

                        <div class="btn-group">
                            <a class="button" id="wf_submit" href="#">
                                <i class="icon-ok"></i> {{ 'workflow.details.save_button'|trans }}
                            </a>
                            <a class="button" id="wf_edit_close" href="#">
                                <i class="icon-remove"></i> {{ 'workflow.details.close_form_button'|trans }}
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            {{  render(controller('ExtiaTaskBundle:Timeline:tasksTimeline', {
                    'task_collection': tasks,
                    'element_template': 'workflow_timeline_element.html.twig',
                    '_task_redirect_url': app.request.server.get('REQUEST_URI')
                }))
            }}
        </div>
    </div>
{% endblock main %}

{% block sidebar %}
    {{ parent() }}
    {% render(controller('ExtiaTaskBundle:Task:workflowDocuments', { 'workflowId': workflow.id })) %}
{% endblock %}
