{% extends 'ExtiaTaskBundle::task_layout.html.twig' %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="{{ path('Rhea_homepage') }}"><i class="icon-list-ul"></i> {{ 'dashboard'|trans }}</a></li>
        <li class="active"><a href="#">{{ 'workflow_detail_header'|trans }} : {{ workflow.type|trans }}</a></li>
    </ul>
{% endblock %}

{% block main %}
    <div class="row-fluid">
        <div class="span12">
            <div class="box">
                <div class="tab-header">
                    <i class="icon-reorder"></i>
                    {{ 'workflow_detail_header'|trans }}
                </div>
                <div class="box-body">
                    <h4>
                        {{ workflow.type|trans }} <br />
                        <small>
                            {{ 'workflow_created_at'|trans }} {{ workflow.createdAt|date(('date_format.ymd'|trans)) }}
                            {{ 'workflow_created_by'|trans }} {{ tasks.first.userCreatedWorkflow.longName }}
                        </small>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            {{  render(controller(
                    'ExtiaTaskBundle:Timeline:tasksTimeline',
                    { 'task_collection': tasks, '_task_redirect_url': app.request.server.get('REQUEST_URI') }
                ))
            }}
        </div>
    </div>
{% endblock main %}
