{% extends 'ExtiaTaskBundle:Workflow:timeline_element.html.twig' %}

{% block task_title %}
        {{ 'crh_meeting.timeline.hook'|trans }}
{% endblock %}

{% block task_data %}
    <p>
        {{ 'crh_meeting.timeline.meeting_at'|trans }}
        <span class="data">{{ task.activationDate(('crh_meeting.date_format'|trans ~ ' ' ~ 'crh_meeting.time_format'|trans)) }}</span>.
    </p>
    {% if task.isCompleted == true %}
        <p>{{ 'crh_meeting.timeline.next_meeting'|trans }} <span class="data">{{ task.data.get('meeting_date')|date('date_format.ymd'|trans) }}</span>.</p>
        <p>{{ 'crh_meeting.timeline.notified_at'|trans }} <span class="data">{{ task.data.get('notif_date')|date('date_format.ymd'|trans) }}</span>.</p>
    {% endif %}
{% endblock %}
