<div class="task_user_timeline_element crh_monitoring_meeting">
    <h4>{{ 'crh_meeting.user_timeline.hook'|trans }}</h4>
    <div class="clearfix">
        <div class="pull-right">
            {% include 'ExtiaUserBundle:Badges:internal.html.twig' with { 'int': task.UserAssigned } only %}
        </div>
        <p class="padded-bot">
            {{ 'crh_meeting.user_timeline.meeting_at'|trans }}
            <span class="data">{{ task.activationDate(('crh_meeting.date_format'|trans ~ ' ' ~ 'crh_meeting.time_format'|trans)) }}</span>.
        </p>
        {% if task.isCompleted == true %}
            <p>{{ 'crh_meeting.user_timeline.next_meeting'|trans }} <span class="data">{{ task.data.get('meeting_date')|date('date_format.ymd'|trans) }}</span>.</p>
            <p>{{ 'crh_meeting.user_timeline.notified_at'|trans }} <span class="data">{{ task.data.get('notif_date')|date('date_format.ymd'|trans) }}</span>.</p>
        {% endif %}
        {% include 'ExtiaTaskBundle:Task:planed_task_state.html.twig' with { 'task': task } only %}
    </div>
</div>
