<div class="task_user_timeline_element crh_monitoring_bootstrap">
    <h4>{{ 'crh_bootstrap.user_timeline.hook'|trans }}</h4>
    <div class="clearfix">
        <div class="pull-right">
            {% include 'ExtiaUserBundle:Badges:internal.html.twig' with { 'int': task.UserAssigned } only %}
        </div>
        <p>{{ 'crh_bootstrap.user_timeline.next_meeting'|trans }} <span class="data">{{ task.data.get('meeting_date')|date('date_format.ymd'|trans) }}</span>.</p>
        <p>{{ 'crh_bootstrap.user_timeline.notified_at'|trans }} <span class="data">{{ task.data.get('notif_date')|date('date_format.ymd'|trans) }}</span>.</p>
    </div>
</div>
