<div id="civility" class="tab-pane active">
    <div class="padded">
        <form id="group-form" class="fill-up" method="post" {{ form_enctype(form) }}>
            <p>
                {{ form_label(form.title, form.title.vars.id|replace({'_':'.'})) }}
                {{ form_errors(form.title) }}
                {{ form_widget(form.title) }}
            </p>
            <p>
                {{ form_label(form.description, form.description.vars.id|replace({'_':'.'})) }}
                {{ form_errors(form.description) }}
                {{ form_widget(form.description) }}
            </p>
            <p>
                {{ form_label(form.address, form.address.vars.id|replace({'_':'.'})) }}
                {{ form_errors(form.address) }}
                {{ form_widget(form.address) }}
            </p>
            <p>
                {{ form_label(form.zipCode, form.zipCode.vars.id|replace({'_':'.'})) }}
                {{ form_errors(form.zipCode) }}
                {{ form_widget(form.zipCode) }}
            </p>
            <p>
                {{ form_label(form.city, form.city.vars.id|replace({'_':'.'})) }}
                {{ form_errors(form.city) }}
                {{ form_widget(form.city) }}
            </p>
            <p class="btn-group">
                <button type="submit" class="button">
                    <i class="icon-ok"></i> {{ 'form.submit'|trans }}
                </button>
                <button class="button" data-form-comment-close >
                    <i class="icon-remove"></i> {{ 'form.close'|trans }}
                </button>
            </p>
        </form>
    </div>
</div>
