<div class="row-fluid extia-infos">
    <div class="span6">
        <p>{{ 'dashboard.pdg.infos.internalNb'|trans }} : <span>{{ data.nbInternals }}</span></p>
        <p>{{ 'dashboard.pdg.infos.nbConsultants'|trans }} : <span>{{ data.nbConsultants }}</span></p>
        <p class="subData">{{ 'dashboard.pdg.infos.nbMissions'|trans }} : <span>{{ data.nbMissions }}</span></p>
        <p class="subData">{{ 'dashboard.pdg.infos.nbIntercontrats'|trans }} : <span>{{ data.nbIntercontrats }}</span></p>
    </div>
    <div class="span6">
        <h4>{{ 'dashboard.pdg.infos.activeTasks'|trans }} :</h4>
        <p class="subData">{{ 'dashboard.pdg.infos.nbLateTasks'|trans }} : <span class="redInfo">{{ data.nbLateTasks }}</span></p>
        <p class="subData">{{ 'dashboard.pdg.infos.nbTotalTasks'|trans }} : <span>{{ data.nbTotalTasks }}</span></p>
        <h4>{{ 'dashboard.pdg.infos.agencyTitle'|trans }} :</h4>
        <p class="subData">{{ 'dashboard.pdg.infos.slowestAgency'|trans }} : <span>{{ data.slowestAgency.agency.Code }}</span></p>
    </div>
</div>
