{% extends 'ExtiaTaskBundle:Workflow:timeline_element.html.twig' %}

{% block task_title %}
    {{ 'lunch.bootstrap.timeline.hook'|trans }}
{% endblock %}

{% block main_target %}
    {% if task.target('mission') is not empty %}
        <a class="user" href="{{ path('MissionBundle_mission_admin_edit', task.target('mission').routing) }}">
            {{ task.target('mission').fullLabel }}
        </a>
    {% else %}
        <p>&nbsp;</p>
    {% endif %}
{% endblock %}

{% block task_data %}
    <p>
        {{ 'lunch.bootstrap.timeline.next_meeting'|trans }}
        <span class="data">{{ task.data.get('meeting_date')|date('date_format.ymd'|trans) }}</span>.
    </p>
    <p>
        {{ 'lunch.bootstrap.timeline.notified_at'|trans }}
        <span class="data">{{ task.data.get('notif_date')|date('date_format.ymd'|trans) }}</span>.
    </p>
{% endblock %}
